li.layer_choice {

	white-space: nowrap;
	display: inline;

}

div#country-info {
                   
                   width: 435px;
                   margin: 0 15px 0 10px;
                   float: left;

                
}
                   
div#country-info ul {
                   
 list-style: none;
 margin-left: -1px;
                
}

ul#tabs
{
 list-style: none;
 display: block;
 height: 25px;
 width: 510px;
 margin: 0  0 5px 0;
 cursor:pointer;

}

ul#tabs li
{

float: left;
 display: block;
 height: 25px;
 width: 200px;
 padding: 5px 0 0 0;
 margin: 0 37px 0 0px;
 text-align: center;
 font-weight: bold;

}

ul#tabs li.on
{
	background-image: url(../img/activity_tab_on.png);
	background-repeat: no-repeat;
}

ul#tabs li.on a
{
	color: #000;

}

ul#tabs li.off
{
	background-image: url(../img/activity_tab_off.png);
	background-repeat: no-repeat;
}

ul#tabs li.off a
{
	color: #333;
}
                 
#country-info h2
{
	background-color: #CCC;
	background-image: url(../img/bg_h2.jpg);
	background-repeat: repeat-x;
	font-size: 100%;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

#files_panel {
  background-color: #fff;
  width: 415px;
  padding: 10px;
  min-height: 200px;
  color: #000;
  display: none;
}

#data_panel {   
	background-color: #fff;
	width: 415px;
    padding: 10px;
    min-height: 200px;
    color: #000;
}

#conditions {


border: 1px solid #ccc;
font-size: 85%;

}

#conditions, .week {


border: 1px solid #ccc;
font-size: 85%;
margin-bottom: 1em;

}

#conditions ul, .week ul {


margin: 10px;
line-height: 170%;

}

#maps {


border: 1px solid #ccc;
margin-top: 10px;
font-size: 85%;
}

table#choose_layers {

	width: 100%;
	border: none;

}

table#choose_layers td {
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ccc;

}

#basemap
{
	display: block;
	height: 225px;
	width: 400px;
	margin: 0 6.5px 6.5px 6.5px;
}

.layer
{
	display: block;
	height: 225px;
	width: 400px;
	margin: 0 6.5px 6.5px 0px;

}

.legend
{
	display: block;
	width: 400px;
	margin: 0 0 6.5px 6.5px;


}

#basemap.basic
{
	background-image: url(../img/maps/map_base.jpg);
	background-repeat: no-repeat;
	
}

#basemap.rainfall
{
	background-image: url(../img/maps/map_base_rainfall.jpg);
	background-repeat: no-repeat;
}

#basemap.ethnicgroups
{
	background-image: url(../img/maps/map_base_ethnicgroups.jpg);
	background-repeat: no-repeat;
}

#basemap.droughtflood
{
	background-image: url(../img/maps/map_base_droughtflood.jpg);
	background-repeat: no-repeat;
}



.layer.refugee
{
	background-image: url(../img/maps/map_layer_camps.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.cholera
{
	background-image: url(../img/maps/map_layer_cholera.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.parks
{
	background-image: url(../img/maps/map_layer_parks.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 1px;
}

.layer.conflict_basic
{
	background-image: url(../img/maps/map_layer_basicconflict.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb2_peace
{
	background-image: url(../img/maps/map_layer_wb2_peace.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb2_humanitarian
{
	background-image: url(../img/maps/map_layer_wb2_human.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb2_conflict
{
	background-image: url(../img/maps/map_layer_wb2_conflict.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb3_peace
{
	background-image: url(../img/maps/map_layer_wb3_peace.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb3_humanitarian
{
	background-image: url(../img/maps/map_layer_wb3_human.png);
	background-repeat: no-repeat;
	position: absolute;
}

.layer.wb3_conflict
{
	background-image: url(../img/maps/map_layer_wb3_conflict.png);
	background-repeat: no-repeat;
	position: absolute;
}


.legend.basic
{
	background-image: url(../img/maps/map_legend_basic.jpg);
	background-repeat: no-repeat;
	height: 30px;
	

}

.legend.refugee
{
	background-image: url(../img/maps/map_legend_camps.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .15em 1.5em;
		height: 65px;

}

.legend.cholera
{
	background-image: url(../img/maps/map_legend_cholera.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .4em 1.5em;
		height: 50px;

}

.legend.parks
{
	background-image: url(../img/maps/map_legend_parks.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .4em 1.5em;
		height: 69px;

}

.legend.conflict
{
	background-image: url(../img/maps/map_legend_conflict.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: 0 1.5em;
		height: 50px;
}

.legend.rainfall
{
	background-image: url(../img/maps/map_legend_rainfall.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 93px;
}

.legend.ethnicgroups
{
	background-image: url(../img/maps/map_legend_ethnicgroups.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 93px;
}

.legend.droughtflood
{
	background-image: url(../img/maps/map_legend_droughtflood.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 65px;
}


                   
#game-content {
                   
                   width: 470px;
                   padding: 0 15px 10px 15px;
                   float: left;
                   background-color: #eaeaea;
                color: #000;
                  }
                   
#game-content h1{
                   
	background-color: #000;
	color: #fff;
	margin: 0 -15px 10px -15px;
	font-size: 100%;
	padding: 5px;
	font-weight: bold;
	
}

#game-content h3{
                   
	font-size: 100%;

	
}
                   
ol { padding: 0 }
li {
     margin-left: 10px;
     }
ol li { margin-left: 0px; }


#submitted {
	
	font-size: 90%;
	line-height: 110%;
	margin: 10px 0;
}

#short_instructions {
	
	font-size: 90%;
	line-height: 110%;
	margin: 10px 0 0 0;
	font-style: italic;
	color: #336699;
}

.toggle-control
{
	cursor: pointer;
	padding-left: 20px;
	background-image: url(../img/toggle_closed.gif);
	background-repeat: no-repeat;
	background-position: 1px 2px;
	
}

h4.toggle-control 
{
	margin-top: 10px;
	font-size: 95%;
}

.toggle {

	display: none;}
	
#full_instructions_body {

	font-size: 85%;
	margin: -2px 10px 20px 20px;
	font-style: italic;

}

select {  
         font-size:70%;
}

table #chart-data {

color: #fff;
font-size: 95%;

}

table #chart-data td{

padding: 1px 5px;

}

.report_choices {


border: 1px solid #ccc;
font-size: 85%;
margin-bottom: 1em;
background-color: #fff;

}

.report_choices h2{


	background-color: #CCC;
	background-image: url(../img/bg_h2.jpg);
	background-repeat: repeat-x;
	font-size: 100%;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;

}