li.layer_choice {

	white-space: nowrap;
	display: inline;

}

div#country-info {
                   
                   width: 435px;
                   margin: 0 15px 0 10px;
                   float: left;

                
}
                   
div#country-info ul {
                   
 list-style: none;
 margin-left: -1px;
                
}

ul.tabbernav
{
 list-style: none;
 display: block;
 height: 25px;
 width: 510px;
 margin: 0  0 5px 0;
 cursor:pointer;

}

ul.tabbernav li
{

float: left;
 display: block;
 height: 23px;
 width: 137px;
 padding: 7px 0 0 0;
 margin: 0 15px 0 1px;
 text-align: center;
 font-weight: bold;

}

ul.tabbernav li.tabberactive
{
	background-image: url(../img/activity_tab_on.png);
	background-repeat: no-repeat;
}

ul.tabbernav li.tabberactive a
{
	color: #000;

}

ul.tabbernav li
{
	background-image: url(../img/activity_tab_off.png);
	background-repeat: no-repeat;
}

ul.tabbernav li a
{
	color: #333;
  text-decoration:none;
  text-align:center;
  width:95%;
  display:block;
}
                 
#country-info h2
{
	background-color: #CCC;
	background-image: url(../img/bg_h2.jpg);
	background-repeat: repeat-x;
	font-size: 110%;
	padding: 2px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;
}

.tabbertab
{ 
  background-color: #fff;
  width: 415px;
  padding: 10px;
  min-height: 200px;
  color: #000;

 }

#conditions {


border: 1px solid #ccc;
font-size: 85%;

}

#conditions, .week {


border: 1px solid #ccc;
font-size: 85%;
margin-bottom: 1em;

}

#conditions ul, .week ul {


margin: 10px;
line-height: 170%;

}

#maps {


border: 1px solid #ccc;
margin-top: 10px;
font-size: 85%;
}

table#choose_layers, table.interventions {

	width: 100%;
	border: none;

}



table#choose_layers td {
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ccc;

}

table.interventions td input{
	
		width: 98%;
		margin: 2px 0;
		
}

table.interventions td textarea{
	
		height: 8em;
		overflow: auto;
			width: 98%;
		margin: 2px 0;
}

#basemap
{
	display: block;
	height: 225px;
	width: 400px;
	margin: 0 6.5px 6.5px 6.5px;
}

.layer
{
	display: block;
	height: 225px;
	width: 400px;
	margin: 0 6.5px 6.5px 0px;

}

.legend
{
	display: block;
	width: 400px;
	margin: 0 0 6.5px 6.5px;


}

#basemap.basic
{
	background-image: url(../img/maps/map_base.jpg);
	background-repeat: no-repeat;
	
}

#basemap.rainfall
{
	background-image: url(../img/maps/map_base_rainfall.jpg);
	background-repeat: no-repeat;
}

#basemap.ethnicgroups
{
	background-image: url(../img/maps/map_base_ethnicgroups.jpg);
	background-repeat: no-repeat;
}

#basemap.droughtflood
{
	background-image: url(../img/maps/map_base_droughtflood.jpg);
	background-repeat: no-repeat;
}



.layer.refugee
{
	background-image: url(../img/maps/map_layer_camps.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.cholera
{
	background-image: url(../img/maps/map_layer_cholera.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.parks
{
	background-image: url(../img/maps/map_layer_parks.png);
	background-repeat: no-repeat;
	position: absolute;
	margin-top: 1px;
	display: none;
}

.layer.conflict_basic
{
	background-image: url(../img/maps/map_layer_basicconflict.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb2_peace
{
	background-image: url(../img/maps/map_layer_wb2_peace.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb2_humanitarian
{
	background-image: url(../img/maps/map_layer_wb2_human.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb2_conflict
{
	background-image: url(../img/maps/map_layer_wb2_conflict.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb3_peace
{
	background-image: url(../img/maps/map_layer_wb3_peace.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb3_humanitarian
{
	background-image: url(../img/maps/map_layer_wb3_human.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}

.layer.wb3_conflict
{
	background-image: url(../img/maps/map_layer_wb3_conflict.png);
	background-repeat: no-repeat;
	position: absolute;
	display: none;
}


.legend.basic
{
	background-image: url(../img/maps/map_legend_basic.jpg);
	background-repeat: no-repeat;
	height: 30px;
	

}

.legend.refugee
{
	background-image: url(../img/maps/map_legend_camps.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .15em 1.5em;
		height: 65px;
   display: none;

}

.legend.cholera
{
	background-image: url(../img/maps/map_legend_cholera.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .4em 1.5em;
		height: 50px;
   display: none;
}

.legend.parks
{
	background-image: url(../img/maps/map_legend_parks.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .4em 1.5em;
		height: 69px;
  display: none;
}

.legend.conflict
{
	background-image: url(../img/maps/map_legend_conflict.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: 0 1.5em;
		height: 50px;
   display: none;
}

.legend.rainfall
{
	background-image: url(../img/maps/map_legend_rainfall.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 93px;
	display: none;
}

.legend.ethnicgroups
{
	background-image: url(../img/maps/map_legend_ethnicgroups.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 93px;
	display: none;
}

.legend.droughtflood
{
	background-image: url(../img/maps/map_legend_droughtflood.jpg);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
		background-position: .5em 1.5em;
		height: 65px;
   display: none;
}

#form-block {
  max-height: 500px;
  overflow: auto;
}
                   
#game-content {
                   
                   width: 470px;
                   padding: 0 15px 10px 15px;
                   float: left;
                   background-color: #eaeaea;
                color: #000;
                  }
                   
#game-content h1{
                   
	background-color: #000;
	color: #fff;
	margin: 0 -15px 10px -15px;
	font-size: 100%;
	padding: 5px;
	font-weight: bold;
	
}

#game-content h3{
                   
	font-size: 100%;

	
}
                   
ol { padding: 0 }
li {
     margin-left: 10px;
     }
ol li { margin-left: 0px; }


#submitted {
	
	font-size: 90%;
	line-height: 110%;
	margin: 10px 0;
}

#short_instructions {
	
	font-size: 90%;
	line-height: 110%;
	margin: 10px 0 0 0;
	font-style: italic;
	color: #336699;
}

.toggle-control
{
	cursor: pointer;
	padding-left: 20px;
	background-image: url(../img/toggle_closed.gif);
	background-repeat: no-repeat;

	
}

h4.toggle-control 
{
	margin-top: 10px;
	font-size: 95%;
}

.toggle {

	display: none;}
	
#full_instructions_body {

	font-size: 85%;
	margin: -2px 10px 20px 20px;
	font-style: italic;

}

#buttons {margin-top: 5px;}

select {  
         font-size:70%;
}

table #chart-data {

color: #fff;
font-size: 90%;
width: 400px;

}

#scatterplot_container {

	min-width: 400px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px 5px 5px 10px;
	margin-left: -1px;
}



.report_choices {


border: 1px solid #ccc;
font-size: 85%;
margin-bottom: 1em;
background-color: #fff;

}

.intervention_choices {


border: 1px solid #ccc;
font-size: 85%;
margin-bottom: 1em;
background-color: #fff;
padding: 0 10px 10px 10px;

}

.report_choices h2{


	background-color: #CCC;
	background-image: url(../img/bg_h2.jpg);
	background-repeat: repeat-x;
		font-size: 110%;
	padding: 2px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0;

}

.intervention_choices h2{


	background-color: #CCC;
	background-image: url(../img/bg_h2.jpg);
	background-repeat: repeat-x;
		font-size: 110%;
	padding: 2px 10px;
	border-bottom: 1px solid #ccc;
	margin: 0 -10px 0 -10px;

}

.budget {

	background-color: #000;
	color: #fff;
	padding: 15px;
	font-size: 160%;
	margin: 15px 4.5em 5px 0;
}

/*for read-only mode*/
*[disabled] 
{  
  color:black;
  font-weight:bold;
}

.nomembers
{ 
  font-size:80%;
 }

.last-submitted
{ 
  font-style:italic; 
  font-size:120%;
 }

.last-date, .last-author
{ 
  font-style:normal;
 }

.response
{ 
  border:1px solid #CCCCFF;
  min-height:2em;
  margin:4px 0 2px 0;
  padding:6px 4px 4px 4px;
 }