{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}
  <div class="textblock">
  <h1>{{user.get_full_name|default:user.username}}'s Dashboard</h1>
  
  {%if is_faculty%}
  <h2>Team Details</h2>
  <a href="{%url team-admin %}">Team Administration and Assignment</a>
  {%endif%}

   {%if team%}
 <div id="alertbox">
 <h2>Your Team</h2>
  
  <ul>
    {%for member in team.group.user_set.all %}
    <li>{{member.get_full_name|default:member.username}}</li>
    {%endfor%}
  </ul>
  </div>
  {%endif%}

  <p>
  {%for survey in todo %}
  <h2>Welcome!</h2>
  <b> Please fill out your <a href="{%url survey-detail survey.slug %}">{{survey.title}}</a></b>
  {%endfor%}
 
  </p>
 <h2>Assignments</h2>
  <!--fake table-->

  <table>
    <thead>
      <tr>
	<th>Activity Name</th>
	<th>Type</th>
	<th>Due Date</th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody>
      {%for assn in assignments %}
      {%if not assn.hidden or is_faculty %}
      <tr 
	  {%if assn.current %}
	  class="current"
	  {%endif%}
	  >
	<td>
	  {%if not is_faculty%}
	    <!--STUDENT-->
	    {%if assn.current %}
		<div>CURRENT ASSIGNMENT</div>
            {%endif%}
	  {%endif%}
	  <a href="{%url assignment-page assn.data.id %}">
	    {{assn.data.name}}
	  </a>
	</td>
	<td>{{assn.data.individual|yesno:"Individual,Group"}}
	</td>
	<td>{{assn.data.close_date|date:"l, n/j/y, P"}} Open:{{assn.data.open}}</td>
	<td>Submitted 2/11/09 11:54PM
	  {%for turn in assn.teams %}
	  {{turn.complete}}
	  {{turn.shock.name}}
	  {%endfor%}
	  <div class="teamoptions">{% for turn in assn.teams %}<div
		  class="on"
		data-turnid="{{turn.id}}"
	      >{{turn.team.index}}</div>{% endfor %}</div
	      >
	</td>
      </tr>
      {%endif%}
      {%endfor%}
    </tbody>
  </table>
  
   

  <h2>Temp game list (TEMP:Just to Display)</h2>
  <ul>
    {%for g in games %}
    <li><a href="{%url game-page g.0 %}">{{g.1}}</a></li>
    {%endfor%}
  </ul>
  
<!--end real table  -->
  
  
  
  
  
  
  </div>
  {% endblock %}
