{% extends "game/game.html" %}

{% block game_js %}
  <script type="text/javascript" src="{{GAME_MEDIA}}js/tablesort.js"></script>
  <script type="text/javascript" src="{{GAME_MEDIA}}js/game_plot_sectors.js"></script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

  {% block short-instructions %}
  Based on your group discussion, rank the impact and relevance of each sector from 1 (low impact/relevance) to 10 (high impact/relevance).  
  {% endblock %}

  {% block full-instructions %}
<p>The following are the primary sectors we will analyze and consider in our reconstruction allocation process. These sectors were identified by the country team as critical areas for your assessment. Please think about how these sectors are critical for both short and long term recovery and development. How are these sectors linked to the conflict, either directly or indirectly?</p>

<p>Please discuss within your groups the strengths and weaknesses of previous management strategies both based on the context presented from background documents and comparative cases from your knowledge.</p>

<p>Are there other sectors that should be included and if so please discuss their relevance in the multiple aspects of recovery (spatial impacts, temporal, humanitarian needs, conflict prevention/reconciliation, reconstruction of infrastructure, sustainable natural resource management, economic development, political stability, etc).</p>

<p>As you choose your rankings, the resulting chart will serve as a visual representation of your group's priorities and help guide decisions regarding future interventions.</p>

<table>
  <thead>
    <tr>
      <td><span style="font-weight:bold;">Environmental Category</span></td>
      <td><span style="font-weight:bold;">Concern</span></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan='3'>Environmental Health and Basic Services</td>
      <td>Water Supply</td>
    </tr>
    <tr>
      <td>Sanitation Access</td>
    </tr>
    <tr>
      <td>Waste Management</td>
    </tr>
    <tr>
      <td rowspan='2'>Forestry</td>
      <td>Illegal Timber</td>
    </tr>
    <tr>
      <td>Deforestation (Charcoal Production)</td>
    </tr>
    <tr>
      <td rowspan='2'>Land Management</td>
      <td>Land Tenure</td>
    </tr>
    <tr>
      <td>Nomadic Rights</td>
    </tr>
    <tr>
      <td rowspan='2'>Agriculture</td>
      <td>Agricultural Practices</td>
    </tr>
    <tr>
      <td>Desertification</td>
    </tr>
    <tr>
      <td>Wildlife and Biodiversity</td>
      <td>Habitat Protection</td>
    </tr>
    <tr>
      <td>Water Resources</td>
      <td>Integrated Water Resource Management</td>
    </tr>
    <tr>
      <td>Environmental Institutions</td>
      <td>Capacity Building</td>
    </tr>
  </tbody>
</table>
{% endblock %}
   
{% block form-instructions %}
{% endblock %}

  {% block form-inputs %}
     <table class="sortable" onclick="sortColumn(event)">
       <thead>
	 <tr>
	   <th>SECTORS</th>
	   <th class="Select">IMPACT</th>
	   <th class="Select">RELEVANCE</th>
	 </tr>
       </thead>
       <tbody id="chart-data">
       <tr>
	 <td width="100%">Water Supply
	 </td>
	 <td>
	   <select name="1-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="1-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Sanitation Access
	 </td>
	 <td>
	   <select name="2-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="2-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Waste Management
	 </td>
	 <td>
	   <select name="3-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="3-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Illegal Timber
	 </td>
	 <td>
	   <select name="4-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="4-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Deforestation (Charcoal Production)
	 </td>
	 <td>
	   <select name="5-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="5-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Land Tenure
	 </td>
	 <td>
	   <select name="6-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="6-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Nomadic Rights
	 </td>
	 <td>
	   <select name="7-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="7-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Agricultural Practices
	 </td>
	 <td>
	   <select name="8-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="8-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Desertification
	 </td>
	 <td>
	   <select name="9-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="9-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Habitat Protection
	 </td>
	 <td>
	   <select name="10-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="10-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Integrated Water Resource
	 </td>
	 <td>
	   <select name="11-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="11-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       <tr>
	 <td>Capacity Building
	 </td>
	 <td>
	   <select name="12-impact">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
	 <td>
	   <select name="12-relevance">
	     <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>
	   </select>
	 </td>
       </tr>
       </tbody>
     </table>
     <div id="scatterplot_container">
     <img id="scatterplot" src="http://chart.apis.google.com/chart?cht=s&chd=t:12,87,75,41,23,96,68,71,34,9|98,60,27,34,56,79,58,74,18,76|84,23,69,81,47,94,60,93,64,54&chxt=x,y&chxl=0:|0|20|30|40|50|60|70|80|90|10|1:|0|25|50|75|100&chs=400x125" />
</div>
     {% endblock %}
   </form>