{% extends "game/intro.html" %}

{% block instructions %}
<p>
The following are the primary sectors we will analyze and consider in our reconstruction allocation process. These sectors were identified by the country team as critical areas for your assessment. Please think about how these sectors are critical for both short and long term recovery and development. How are these sectors linked to the conflict, either directly or indirectly?<br />
</p><p>
Are there other sectors that should be included and if so please discuss their relevance in the multiple aspects of recovery (spatial impacts, temporal, humanitarian needs, conflict prevention/reconciliation, reconstruction of infrastructure, sustainable natural resource management, economic development, political stability, etc).
</p>

<table class="wiki_table">
    <tr>

        <td><strong>Environmental Category</strong><br />
</td>
        <td><strong>Concern</strong><br />
</td>
        <td><strong>Overview</strong><br />
</td>
    </tr>
    <tr>
        <td rowspan="10">Environmental Health and Basic Services<br />

</td>
        <td rowspan="3">Water Supply<br />
</td>
        <td>Improved water supplies, mailing for domestic use<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>

    </tr>
    <tr>
        <td rowspan="3">Sanitation Access<br />
</td>
    </tr>
    <tr>
        <td>Improved sanitation systems<br />
</td>
    </tr>

    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="2">Waste management<br />
</td>
    </tr>
    <tr>

        <td>Solid and post-conflict waste management<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="6">Forestry<br />
</td>
        <td rowspan="3">Illegal Timber<br />

</td>
        <td>Timber Production<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>

        <td rowspan="3">Deforestation (Charcoal Production)<br />
</td>
    </tr>
    <tr>
        <td>Forestry sector and production<br />
</td>
    </tr>
    <tr>
    </tr>

    <tr>
        <td rowspan="6">Land Management<br />
</td>
        <td rowspan="3">Land Tenure<br />
</td>
        <td>Land rights system<br />
</td>
    </tr>
    <tr>

    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="3">Nomadic Rights<br />
</td>
    </tr>
    <tr>
        <td>Nomadic groups- movement, rights,<br />

</td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="6">Agriculture<br />
</td>
        <td rowspan="3">Agricultural Practices<br />
</td>

        <td>Agricultural sector development plans and support<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="3">Desertification<br />

</td>
    </tr>
    <tr>
        <td>Climate and land degradation planning<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>

        <td rowspan="3">Wildlife and Biodiversity<br />
</td>
        <td rowspan="3">Habitat Protection<br />
</td>
        <td>Conservation and wildlife protection<br />
</td>
    </tr>
    <tr>
    </tr>

    <tr>
    </tr>
    <tr>
        <td rowspan="3">Water Resources<br />
</td>
        <td rowspan="3">Integrated Water Resource Management<br />
</td>
        <td>Management of national water supply and demand for all sectors<br />

</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td rowspan="3">Environmental Institutions<br />
</td>

        <td rowspan="3">Capacity Building<br />
</td>
        <td>Institutional and governance support<br />
</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>

</table>

<p>
Based upon your group discussion, enter a number from 1-10 to rank the impact and relevance of each of the sectors. 1=low impact/relevant and 10=high impact/relevance. The resulting chart will provide a visual representation of your group's priorities and serve as a guide as you fund interventions in the future.
</p><p>
Relevance refers to the relationship of the sector to the conflict, recovery or stabilization process. What is the role of this sector in the process?
</p><p>
Impact refers to the potential impact on the conflict or recovery investment in this sector could potentially create. What level of impact would investment in this sector towards the conflict and instability?
</p>

{% endblock %}