{% extends "game/intro.html" %}

{% block instructions %}
<p>The following are the primary sectors we will analyze and consider in our reconstruction allocation process. These sectors were identified by the country team as critical areas for your assessment. Please think about how these sectors are critical for both short and long term recovery and development. How are these sectors linked to the conflict, either directly or indirectly?</p>

<p>Please discuss within your groups the strengths and weaknesses of previous management strategies both based on the context presented from background documents and comparative cases from your knowledge.</p>

<p>Are there other sectors that should be included?  If so, please discuss their relevance in the multiple aspects of recovery (spatial impacts, temporal, humanitarian needs, conflict prevention/reconciliation, reconstruction of infrastructure, sustainable natural resource management, economic development, political stability, etc).</p>

<p>As you choose your rankings, the resulting chart will serve as a visual representation of your group's priorities and help guide decisions regarding future interventions.</p>

<h5>Sectors:</h5>
<ul>
  <li>Water Supply</li>
  <li>Sanitation Access</li>
  <li>Waste Management</li>
  <li>Illegal Timber</li>
  <li>Deforestation (Charcoal Production)</li>
  <li>Land Tenure</li>
  <li>Nomadic Rights</li>
  <li>Agricultural Practices</li>
  <li>Desertification</li>
  <li>Habitat Protection</li>
  <li>Integrated Water Resource</li>
  <li>Capacity Building</li>
</ul>
{% endblock %}