{% extends "game/intro.html" %}

{% block instructions %}
<p>After reading the background material, please write a brief post-conflict needs assessment memo based on the information you have at your disposal. This should be an analytical but brief piece, reflecting your understanding and analysis of the situation based on the background notes.</p>

<p>Basic elements to consider including are the following:</p>

<ol>
<li>Conflict and Needs Assessment - List or explain, in order of risk, current threats to the country's stability and challenges to its development.</li>
<li>Recommended Policy Responses - This section is your first effort at synthesizing the background material into basic policy directions for the government. These should be broad, but relevant, recommendations for the government of Nimpala.</li>
<li>Recommended Programming Options For International Agencies and Organizations - In this section please discuss initial priority areas for development programming options for the international community. What do you think are the critical responses for different sectors? What are the short-term "quick wins" priorities versus longer-term responses.</li>
</ol>

<p>Please consider and link your recommendations to evidence from cases and readings. Such cases can be drawn from your professional experiences and/or class readings.</p>

<p>You can refer to the readings in the first day of class on Post-conflict environmental assessments (PCEAs) and the UN Post-Conflict Needs Assessment methodologies from UNDG and World Bank.</p>

<p>These should be between 3 and 5 pages.</p>


<h5>Additional areas to consider in your report:</h5>
<strong>
  <ol>
    <li>What additional information about Nimpala or the conflict will you need to design post-conflict development and reconstruction programs? Based on the initial background discussions, what specific studies or information would you need? From trade reports to climate change predictions to specific population movement? What challenges do you expect to encounter around data and information availability or gathering?</li>
    <li>What role has the environment and natural resources played in this conflict? To what extent should environmental needs be prioritized in the context of Nimpala's political and economic challenges?</li>
    <li>Who are the "dividers" and "connectors" in the conflict? Are there any potential spoilers? What are the critical needs for maintaining post-conflict stability?</li>
    <li>What limitations are there for collecting additional information? What strategy do you have for engaging the national government? What other partners would you approach to support your mission?</li>
  </ol>
</strong>

{% endblock %}