{% extends "game/game.html" %}

{% block game_js %}
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Please write a one or two page justification for your selection of information reports.{% endblock %}

{% block full-instructions %}
<p>Please discuss the rationale for which reports you selected, how they will support your decision-making process and what information you needed
to support the prioritization of needs in Nimpala.</p>

<p>Please also summarize key points from the discussion your group has while trying to reach the decision of which reports to select.</p>
{% endblock %}