{% extends "base.html" %}

{% block js %}
  <script type="text/javascript" src="/site_media/js/tablesort.js"></script>
  <script type="text/javascript" src="/site_media/js/teams/teamassignment.js"></script>
{% endblock %}

{% block css %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


{% block content %}

    <table id="membertable" class="sortable" border="1" onclick="sortColumn(event)">
      <thead>
	<tr>
	  <th>Name</th><th class="Number">Number</th><th class="Number">Another Number</th><th class="Team">Team</th><th>Diversity in team </th>

	</tr>
      </thead>
      <tbody>
	<tr><td>Foo</td><td>2</td><td>6</td>
	<td class="teamlist"
	    ><div>{% for t in teams %}<div>{{t.index}}</div>{% endfor %}</div
	    ></td>
	<td></td></tr>

      </tbody>
    </table>

{% endblock %}