{% extends "base.html" %}

{% block title %}{{game.gamename}}{% endblock %}

{% block js %}
   <!-- Delegate to the particular game which extra JS it needs -->
   <script>
     var game_variables = {{game.gamevariables|safe}};
   </script>
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/toggle_full_info.js"></script>
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/statefulgame.js"></script>
   <script type="text/javascript" src="{%url get-assignment world_state.turn_id %}?jsonp=GameSystem.loadState"></script>
   {% block game_js %}{% endblock %}
{% endblock %}

{% block css %}
   <link href="{{GAME_MEDIA}}css/game.css" rel="stylesheet" type="text/css" />

   <!-- Delegate to the particular game extra CSS it needs -->
   {% block game_css %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
    {%if game %}
      <li><a href="{% url game-page game.app game.page_id %}">{{game.gamename}}</a></li>
    {%endif%}  
{% endblock %}

{% block content %}
   <div id="country-info">
   <ul id="tabs"><li class="on"><a>Geographic Data</a></li> <li class="off"><a>Files</a></li></ul>
   <div id="data_panel">

   <div id="conditions">
     <h2>Current Country Conditions</h2>
       <ul><li>Infant Mortality: 87 deaths/1,000 live births</li>
       <li>Forest Cover: 500 Ha</li>
       <li>12 Month Rainfall: 16mm</li></ul>
</div>
<div id="maps">
     <h2>Map</h2>
       <img src="/site_media/img/nimpala.jpg" style='width:400px;' />
</div>
</div>
 
 
     <div id="files_panel">   ** files go here **
   </div>
</div>
   <div id="game-content">
   <h1><span class="floatright">Review Activities</span>Current Activity</h1>
     <!-- Delegate HTML to the particular game -->
  
     {% block game_content %}
   <div>
         <div id="activity_title">{{game.gamename}}</div>
      
      <div id="due_date">
     DUE: {{ world_state.duedate|date:"D M j Y f A" }}
   </div>
<div id="short_instructions">{%block short-instructions %}{% endblock %}</div>

<h3 class="toggle-control">Full Instructions</h3>

<div id="full_instructions_body" class="toggle">
{% if world_state.individual %}
  <p>This is an individual exercise.</p>
{% endif %}
{% if not world_state.individual %}
  <p>This is a group exercise.</p>
{% endif %}

{% block full-instructions %}{% endblock %}
</div>

{% block form-instructions %}<p>Write or paste your answer in the box below.</p>{% endblock %}
     
  <form action="{%url save-assignment %}" method="POST" id="assignment-form">

  {% block form-inputs %}
       <textarea rows=17 cols=58 name="data"></textarea><br />
  {% endblock %}

     <input type="submit" name="published" value="Submit" onclick="GameSystem.published='Submit'" />
     <input type="reset" />
     <input type="submit" name="published" value="Save Draft" onclick="GameSystem.published='Draft'" />
     <input type="hidden" name="turn_id" value="{{ world_state.turn_id }}" />
     <input type="hidden" name="author" value={{ user }}" />
     </form>
   </div>
{% endblock %}

   </div>
{% endblock %}