{% extends "base.html" %}

{% block js %}
   <!-- Delegate to the particular game which extra JS it needs -->
   <script>
     var game_variables = {{game.gamevariables|safe}};
   </script>
   {% block game_js %}{% endblock %}
{% endblock %}

{% block css %}
   <link href="{{GAME_MEDIA}}css/game.css" rel="stylesheet" type="text/css" />

   <!-- Delegate to the particular game extra CSS it needs -->
   {% block game_css %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
    {%if game %}
      <li><a href="{% url game-page game.app game.page_id %}">{{game.gamename}}</a></li>
    {%endif%}  
{% endblock %}

{% block content %}
   <p>
     The due date for this assignment is {{world_state.duedate|date}}.
   </p>
   <div id="country-info">
     <h5>Current Country Conditions</h5>
       <li>Infant Mortality: 87 deaths/1,000 live births</li>
       <li>Forest Cover: 500 Ha</li>
       <li>12 Month Rainfall: 16mm</li>

     <h5>Map</h5>
       <img src="/site_media/img/nimpala.jpg" style='width:280px;' />

     <h5>Files</h5>
       ** files go here **
   </div>

   <div id="game-content">
     <!-- Delegate HTML to the particular game -->
     {% block game_content %}{% endblock %}
   </div>
{% endblock %}