{% extends "base.html" %}

{% block title %}{{game.gamename}}{% endblock %}

{% block content %}

<div id="intro_container">
  <div id="due_date" class="interstitial">
     DUE: {{ world_state.duedate|date:"D M j Y f A" }}
   </div> <h1>Next Activity: {{game.gamename}}</h1>
  
  {%if world_state.turn.shock%}
  <div id="alertbox">
    <h2>Alert! {{world_state.turn.shock.name}}</h2>  
    {{world_state.turn.shock.outcome|linebreaksbr}}
    <!--A cholera epidemic is affecting your population.-->
  </div>
  {%endif%}
   

 <div id="new_materials">
<h2>New Materials:</h2> 
<ul>
{% for resource in world_state.resources %}
  {% ifequal resource.a.name game.gamename %}
    {% for file in resource.res %}
      {% ifequal file.type "file" %}
        <li><img source="" /><a href="{{file.page_id}}">{{ file.title }}</a></li>
      {% endifequal %}
    {% endfor %}
  {% endifequal %}
{% endfor %}
{% block resources %}
{% endblock %}
</ul>
</div>

 <div id="instructions">
<h2>Instructions:</h2>

{% block instructions %}
{% endblock %}
</div>

 <div id="grouping">
<h2>Note:</h2>
  {% if world_state.individual %}
      This is an individual activity.
  {% endif %}
  {% if not world_state.individual %}
      This is a group activity. You and your team members will submit a single group response.
  {% endif %}
</div>
<br />
<button type="button" id="go_activity" onclick="document.location='page2';">Go to Activity</button>

</div>
{% endblock %}