{% extends "base.html" %}

{% block title %}About{%endblock%}

{% block content %}
<div class='textblock'>
<h3 style="padding-top:10px;margin-top:0px;">ABOUT</h3>
<p>Welcome to Ground|Work, an online conflict simulation. This program is designed to accompany and enhance courses on the environment and security. The simulation will allow students to apply theoretical understanding of material, review practical program design concepts and options relevant to this case study, and encourage negotiating and team building in cross-disciplinary teams. It will also allow them to reflect on three main themes:</p>

<ol>
  <li>The impact of conflict on the environment (with a focus on post-conflict scenarios)</li>
  <li>The impact of natural resources on conflict (with a focus on active conflict scenarios)</li>
  <li>How natural resources can contribute to conflict prevention</li>
</ol>

<p>The simulation is based upon the fictional narrative of a country called Nimpala. Although the scenario is fabricated, it is derived from several real world case studies.</p>

<p>Within the simulation, students will participate in a UN Country Team responsible for guiding Nimpala's post-conflict needs assessments and help guide the donor distribution of reconstruction and restoration funding.</p>

<p>This simulation is not a predictive model and there are no right or wrong decisions. Instead, Ground|Work is meant to provide a forum to discuss and debate assessment, prioritization, and sequencing of post-conflict aid, specifically as it relates to natural resources and the environment.</p>

<hr />

<h3 style="padding-top:10px;margin-top:0px;">CREDITS</h3>

<h5>Columbia Center for New Media Teaching and Learning</h5>

<ul>
  <li><strong>Executive Producers:</strong> Frank Moretti, Maurice Matiz</li>
  <li><strong>Producer:</strong> Ryan Kelsey</li>
  <li><strong>Project Manager:</strong> Maria Janelli</li>
  <li><strong>Lead Designer:</strong> Elizabeth Day</li>
  <li><strong>Web Designer:</strong> Marc Raymond</li>
  <li><strong>Lead Technical Architect:</strong> Jonah Bossewitch</li>
  <li><strong>Programmers:</strong> Schuyler Duveen and Kathryn Hagan</li>
  <li><strong>QA:</strong> Ken Petricig</li>
</ul>

<h5>Educational Partners</h5>

<ul>
  <li>Marc Levy, Deputy Director, Center for International Earth Science Information Network</li>
  <li>Alex Fischer, Program Coordinator, Center for International Earth Science Information Network</li>
</ul>

</div>
{% endblock %}