Welcome to ground | work, an online conflict simulation. This program is designed as an online learning tool to accompany and enhance the material discussed in this course on environment and security. The tool should be used as a method to apply both your theoretical understanding of the material, review practical program design concepts and options relevant to this case study and identified in the course readings, and encourage negotiating and team building in cross-disciplinary teams. It is also intended to help you reflect on three main themes that run through the course.<br />
<br />
1. The impact of conflict on the environment (with a focus on post-conflict scenarios)<br />
2. The impact of natural resources on conflict (with a focus on active conflict scenarios)<br />
3. How natural resources can contribute to conflict prevention.<br />
<br />
The simulation occurs in a fictional narrative of a country called Nimpala. Although the scenario is fabricated, it is derived from several real world case studies and framed around the key themes and topics discussed throughout the semester.<br />
<br />

The simulation will be primarily a group activity. Except for the initial conflict analysis and the final writing assignment, you will be divided into teams to complete the rest of the assignments. These groups will represent a UN Country Team responsible for guiding Nimpala's post-conflict needs assessments and help guide the donor distribution of reconstruction and restoration funding.<br />
<br />
Please review the next week's assignment before meeting as a group. The assignments are enhanced by individual reflections and contemplation prior to group meetings.<br />
<br />
This simulation is not a predictive model and there are no right or wrong decisions. Instead, ground | work is meant to provide a forum to discuss and debate assessment, prioritization, and sequencing of post-conflict aid, specifically as it relates to natural resources and the environment.<br />
