{% extends "game/intro.html" %}

{% block instructions %}
<p>First, review the summary from the donors conference, as well as the updated watching brief.</p>

<p>In this section, the Country Director has once again requested that your team help prioritize and sequence donor funds to increase the effectiveness and impact of the proposed projects.</p>

<p>You will be given the same list of environmental categories and concerns. Your revised budget is $165 million. You do not need to fund each category. Any remaining funds will be returned to UN headquarters.</p>

<p>As you are going through this exercise, please be prepared to discuss your group's negotiation and rationale for each selection. One recommendation is to think about the implications of each investment level as well as risks for not investing. Please cite any of the previous narrative in your decision-making process as well as rationale from class readings and discussions when possible.</p>

{% endblock %}