{% extends "game/game.html" %}

{% block game_js %}
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/textarea_saverestore.js"></script>
   <script type="text/javascript">
     $("submit").value = "Next Page";
   
   </script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Step back from your role within the simulation; think and write about the simulation exercise and main messages.{% endblock %}

{% block full-instructions %}
<p><strong>Please step back from your role within the simulation and think about the main messages of the simulation exercise. Provide thoughtful responses ( at least 175 words per response or roughly one paragraph each, minimum) to the questions that follow.</strong></p>
{% endblock %}

{% block form-instructions %}
{% endblock %}

{% block form-inputs %}
<p>Identify the key lessons learned from this exercise in relation to both the process of post-conflict reconstruction/peacebuilding as well as the themes/topics as they relate and integrate the environment.
<textarea rows='10' cols='60' name='question1' id='question1'></textarea></p>

<p>Where are the limitations and advantages of this peacebuilding/ post-conflict analysis through this model? Are these tools capable of representing environmental concerns in complex peacebuilding scenarios?
<textarea rows='10' cols='60'name='question2' id='question2'></textarea></p>

<p>Are there other tools that more effectively identify environmental issues in post-conflict assessments and reconstruction planning?
<textarea rows='10' cols='60'name='question3' id='question3'></textarea></p>

<p>What are the strengths of this process for prioritizing and sequencing environmental needs? How could you improve the analysis process to help identify or clarify these needs better?
<textarea rows='10' cols='60'name='question4' id='question4'></textarea></p>

<p>What role do you think environmental needs have in the broader framework of post-conflict peacebuilding?
<textarea rows='10' cols='60'name='question5' id='question5'></textarea></p>
{% endblock %}

{% block navbuttons %}
{% if not world_state.editable %}
     <input type="button" id="next" name="next" value="Next Page" onclick="location.href='page3'" />
{% endif %}
{% endblock %}