{% extends "game/game.html" %}

{% block title %}
Final Paper: Page 2
{% endblock %}

{% block game_js %}
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/textarea_saverestore.js"></script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Step back from your role within the simulation; think and write about the simulation exercise and main messages.{% endblock %}

{% block full-instructions %}
<p><strong>Please step back from your role within the simulation and think about the main messages of the simulation exercise. Provide thoughtful responses ( at least 175 words per response or roughly one paragraph each, minimum) to the questions that follow.</strong></p>
{% endblock %}

{% block form-instructions %}
{% endblock %}

{% block form-inputs %}
<p><strong>Please also consider the following questions about your experience in the simulation and with your group members.</strong></p>

<p>Discuss any points when your recommendations differed from that of your team. Did you change your perspective?  If so, why?
<textarea rows='10' cols='60'name='question6' id='question6'></textarea></p>

<p>What were the primary or key factors you considered when making your allocation decisions throughout the process? Are there any other factors or information you felt would have been needed to improve your ability?
<textarea rows='10' cols='60'name='question7' id='question7'></textarea></p>

<p>Discuss how the conflict needs assessments shaped your decisions later in the simulation.
<textarea rows='10' cols='60'name='question8' id='question8'></textarea></p>

<p>How did the additional information reports impact your allocation spending and analysis of the conflict?
<textarea rows='10' cols='60'name='question9' id='question9'></textarea></p>

<p>How did your group's discussions impact your decision making and understanding? What would have been different if you were acting alone?
<textarea rows='10' cols='60'name='question10' id='question10'></textarea></p>

<p>Did you have sufficient information to convince donors of your prioritization and sequencing?
<textarea rows='10' cols='60'name='question11' id='question11'></textarea></p>

<p>What key assumptions did you make to reach your decision? Would it be realistic to have had that information or did it help you analyze the process?
<textarea rows='10' cols='60'name='question12' id='question12'></textarea></p>

<p>How did other teams' class discussions impact your understanding? Please provide examples.
<textarea rows='10' cols='60'name='question13' id='question13'></textarea></p>

{% endblock %}

{% block navbuttons %}
     <input type="button" id="prev" name="prev" value="Previous Page"/>
     <script type="text/javascript">
       connect("prev", onclick, saveRestore);
     </script>
{% endblock %}