{% extends "game/game.html" %}

{% block game_js %}
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Step back from your role within the simulation; think and write about the simulation exercise and main messages.{% endblock %}

{% block full-instructions %}
<p>For your final paper, please step back from your role within the simulation and think about the simulation exercise and main messages.</p>

<p>In a 5-10 page essay, please respond to the following areas.</p>

<ul>
  <li>Please identify the key lessons learned from this exercise in relation to both the process of post-conflict reconstruction/peacebuilding as well as the themes/topics around the environment.</li>

  <li>Where are the strengths and weaknesses of this peacebuilding/ post-conflict analysis through this model? Are these tools capable of representing environmental concerns in complex peacebuilding scenarios?</li>

  <li>Are there other tools that more effectively identify environmental issues in post-conflict assessments and reconstruction planning?</li>

  <li>What are the strengths of this process for prioritizing and sequencing environmental needs? How could you improve the analysis process to help identify or clarify these needs better?</li>

  <li>At the end of this class and simulation, how do you place environmental needs into the broader framework of post-conflict peacebuilding?</li>
</ul>

<h4>Specifics of the simulation:</h4>
<ul>
  <li>Discuss any points when your recommendations differed from that of your team. Did you change your perspective, and if so, why?</li>

  <li>What were the primary or key factors you considered when making your allocation decisions throughout the process? Any other factors or information you felt would have been needed to improve your ability? What is realistic in a post-conflict setting versus ideal?</li>

  <li>Please discuss how the conflict needs assessments shaped your decisions later in the simulation.</li>

  <li>How did the additional information reports impact your allocation spending and analysis of the conflict?</li>

  <li>How did the group discussion impact your decision making and understanding? How would it be different if you were acting alone?</li>

  <li>Did you have sufficient information to convince donors of your prioritization and sequencing?</li>

  <li>What key assumptions did you make to reach your decision?  Would it be realistic to have that information; did it help you analyze the process?</li>

  <li>How did your team differ from other teams and why? How did other teams' discussions impact your understanding?</li>

  <li>If X changed how would that have changed your approach?</li>
</ul> 
{% endblock %}

