{% extends "game/game.html" %}

{% block game_js %}
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Funding Interventions: TODO{% endblock %}

{% block full-instructions %}
<p>In this section, the Country Director requests that your team prioritize and sequence the existing donor funds to increase the effectiveness and impact of the proposed projects. Your goal in this phase of the post-conflict recovery is critical to prevent further conflict, humanitarian disasters or further deterioration of infrastructure.</p>

<p>You will be given the same list of environmental categories and concerns as in the previous assignment. For each concern, you will find a list of general high, medium and low options. Please do not focus too heavily on the actual options choices; instead please focus on the potential impact of size of the investment-- large, medium or small scale-- and how that will impact the recovery and long-term development.</p>

<p>You will see the associated costs, loose estimates taken from real projects. Please try to allocate your current funding to address the critical needs in Nimpala.</p>

<p>Your budget is $142 million. You do not need to fund each category. Any remaining funds will be returned to UN headquarters.</p>

<p>As you are going through this exercise, please be prepared to discuss your group's negotiation and rationale for each selection. One recommendation is to think about the implications of each investment level as well as risks for not investing. Please cite any of the previous narrative in your decision-making process as well as rationale from class readings and discussions when possible.</p>

{% endblock %}

{% block form-instructions %}{% endblock %}

{% block form-inputs %}
<div class="budget">Budget Remaining: $150,000</div>
<div class="intervention_choices">
<h2>Environmental Health and Basic Services</h2>
<h3>Water Supply</h3>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Major improvement in urban water infrastructure</td>
    <td>$30</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td>Truck clean water into community distribution points</td>
    <td>$xx</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td># of bore wells for xx people</td>
    <td>$x</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
</table>

<h3>Sanitation Access</h3>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Major improvement in urban water infrastructure</td>
    <td>$30</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td>Truck clean water into community distribution points</td>
    <td>$xx</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td># of bore wells for xx people</td>
    <td>$x</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
</table>

<h2>Forestry</h2>
<h3>Illegal Timber</h3>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Major improvement in urban water infrastructure</td>
    <td>$30</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td>Truck clean water into community distribution points</td>
    <td>$xx</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
  <tr>
    
    <td># of bore wells for xx people</td>
    <td>$x</td>
    <td><input type="checkbox" name="fund"></input></td>
  </tr>
</table>


</div>
{% endblock %}