{% extends "game/game.html" %}

{% block game_js %}
  <script type="text/javascript" src="{{GAME_MEDIA}}js/game_funding.js"></script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Allocate funds to address the critical needs in Nimpala.{% endblock %}

{% block full-instructions %}
<p>In this section, the Country Director requests that your team prioritize and sequence the existing donor funds to increase the effectiveness and impact of the proposed projects. Your goal in this phase of the post-conflict recovery is critical to prevent further conflict, humanitarian disasters or further deterioration of infrastructure.</p>

<p>You will be given the same list of environmental categories and concerns as in the previous assignment. For each concern, you will find a list of general high, medium and low options. Please do not focus too heavily on the actual options choices; instead please focus on the potential impact of size of the investment-- large, medium or small scale-- and how that will impact the recovery and long-term development.</p>

<p>You will see the associated costs, loose estimates taken from real projects. Please try to allocate your current funding to address the critical needs in Nimpala.</p>

<p>Your budget is $142 million. You do not need to fund each category. Any remaining funds will be returned to UN headquarters.</p>

<p>As you are going through this exercise, please be prepared to discuss your group's negotiation and rationale for each selection. One recommendation is to think about the implications of each investment level as well as risks for not investing. Please cite any of the previous narrative in your decision-making process as well as rationale from class readings and discussions when possible.</p>

{% endblock %}

{% block form-instructions %}
<div class="budget">Budget Remaining: <span id='budget'>$142,000,000</span></div>
<!--input type="checkbox" id="toggle-all" />Open/Close All-->
{% endblock %}

{% block form-inputs %}
<div class="intervention_choices">
<div>
<h2 class='toggle-control'>Environmental Health and Basic Services</h2>
<div>
<h3 class='toggle-control' id='water-supply'>Water Supply <span id='water-supply-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Major improvement in urban water infrastructure; major improvement in rural water infrastructure</td>
    <td><span id='water-supply-high-cost'>30</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="water-supply-high" value="water-supply-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Minor Improvements to urban infrastructure.  Truck clean water into community distribution points.  Repair infrastructure.  Major rural improvements.</td>
    <td><span id='water-supply-med-cost'>18</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="water-supply-med" value="water-supply-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Urban infrastructure plan.  Limited targeted rural areas.</td>
    <td><span id='water-supply-low-cost'>10</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="water-supply-low" value="water-supply-low"></input>
    </td>
  </tr>
</table>
</div></div>

<div>
<h3 class='toggle-control' id='sanitation'>Sanitation Access <span id='sanitation-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Secondary waste treatment plant for urban centers over 100,000 people.  Large geographic scale rural interventions.</td>
    <td><span id='sanitation-high-cost'>50</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='sanitation-high' value="sanitation-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Urban: large number of people reached but no city-wide system, e.g. septic tank system.  Rural: limited number of people reached.</td>
    <td><span id='sanitation-med-cost'>40</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='sanitation-med' value="sanitation-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Basic urban sanitation systems (e.g. community pit latrines).  Rural: education program and limited latrines.</td>
    <td><span id='sanitation-low-cost'>35</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='sanitation-low' value="sanitation-low"></input>
    </td>
  </tr>
</table>
</div></div>

<div>
<h3 class='toggle-control' id='waste'>Waste Management <span id='waste-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Large urban area waste removal and treatment (e.g. lined landfill and national private waste collection company for door to door collection service).</td>
    <td><span id='waste-high-cost'>60</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='waste-high' value="waste-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Large urban area but limited collection sites and reduced standards for disposal and treatment facilities (e.g. disposal site with no protective lining, collection from common drop-off locations).</td>
    <td><span id='waste-med-cost'>20</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='waste-med' value="waste-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Urban areas but small scale collection and no organized system (e.g. neighborhood incinerators, small-scale composting).</td>
    <td><span id='waste-low-cost'>10</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='waste-low' value="waste-low"></input>
    </td>
  </tr>
</table>
</div></div>
</div><div>
<h2 class='toggle-control'>Forestry</h2>
<div>
<h3 class='toggle-control' id='timber'>Illegal Timber <span id='timber-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Major national reform of forestry sector, contracts, and management (e.g. concession review, training, monitoring, enforcement, and plan for institutional reform.  Inter-agency initiative to support National Forest Reform Act).</td>
    <td><span id='timber-high-cost'>8.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='timber-high' value="timber-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Full review of existing system and plans for reform with limited actions (e.g. concession review, establish formal review process, monitor harvests, review international sanctions certification and transparency code).</td>
    <td><span id='timber-med-cost'>5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='timber-med' value="timber-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Assessment and study of existing resources (e.g. monitoring harvest, review lumber permits, tax on exports).</td>
    <td><span id='timber-low-cost'>1.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='timber-low' value="timber-low"></input>
    </td>
  </tr>
</table>
</div>
</div>

<div>
<h3 class='toggle-control' id='deforestation'>Deforestation (Charcoal Production) <span id='deforestation-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Create national enforcement system, monitoring system, and design alternative energy options and incentives (e.g. regulation and enforcement of illegal harvest while subsidizing private timber plots on sustainable growth cycle).</td>
    <td><span id='deforestation-high-cost'>5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='deforestation-high' value="deforestation-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Review existing regulations, initiate reforestation, monitoring system, and enable protection of key forested areas.</td>
    <td><span id='deforestation-med-cost'>2</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='deforestation-med' value="deforestation-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Capacity-building for communities, monitoring system, and conservation forest management.</td>
    <td><span id='deforestation-low-cost'>1</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='deforestation-low' value="deforestation-low"></input>
    </td>
  </tr>
</table>
</div></div>
</div><div>
<h2 class='toggle-control'>Land Management</h2>
<div>
<h3 class='toggle-control' id='tenure'>Land Tenure <span id='tenure-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Full review of land ownership records, review legal system, and establish system of national arbitration courts for disputes (create a system of documentation and require new land leases).</td>
    <td><span id='tenure-high-cost'>10</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='tenure-high' value="tenure-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Create new legal framework for future land ownership and establish arbitration courts for dispute settlement.</td>
    <td><span id='tenure-med-cost'>7</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='tenure-med' value="tenure-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Define user rights, control rights, transfer rights.</td>
    <td><span id='tenure-low-cost'>3</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='tenure-low' value="tenure-low"></input>
    </td>
  </tr>
</table>
</div></div>

<div>
<h3 class='toggle-control' id='nomadic'>Nomadic Rights <span id='nomadic-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Manage migration routes to protect and utilize environmental resources and mitigate conflict with settled communities using mapping and education programs.</td>
    <td><span id='nomadic-high-cost'>5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="nomadic-high" value="nomadic-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Protect existing migration routes and support community awareness programs to reduce conflicts.</td>
    <td><span id='nomadic-med-cost'>3</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="nomadic-med" value="nomadic-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Land use study and relocation for improved land use practices.</td>
    <td><span id='nomadic-low-cost'>1</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='nomadic-low' value="nomadic-low"></input>
    </td>
  </tr>
</table>
</div></div>
</div><div>
<h2 class='toggle-control'>Agriculture</h2>
<div>
<h3 class='toggle-control' id='agriculture'>Agricultural Practices <span id='agriculture-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Package of new policies that provide subsidized fertilizer, improved seeds, irrigation infrastructure, farm machinery, and agricultural extension services.</td>
    <td><span id='agriculture-high-cost'>11.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="agriculture-high" value="agriculture-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Provision of improved seeds to East and Northern areas.</td>
    <td><span id="agriculture-med-cost">5.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="agriculture-med" value="agriculture-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Development of an agricultural plan.</td>
    <td><span id="agriculture-low-cost">2</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="agriculture-low" value="agriculture-low"></input>
    </td>
  </tr>
</table>
</div></div>

<div>
<h3 class='toggle-control' id='desertification'>Desertification <span id='desertification-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Develop a Desertification National Action Plan in coordination with forecasting service and baseline studies.</td>
    <td><span id="desertification-high-cost">22.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="desertification-high" value="desertification-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Establish a National Weather and Drought Forecasting Service, updating existing baseline studies.</td>
    <td><span id="desertification-med-cost">10</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="desertification-med" value="desertification-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Study to update baseline studies and identify highly prone areas.</td>
    <td><span id="desertification-low-cost">5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id="desertification-low" value="desertification-low"></input>
    </td>
  </tr>
</table>
</div>
</div>
</div><div>
<h2 class='toggle-control'>Wildlife and Biodiversity</h2>
<div>
<h3 class='toggle-control' id='habitat'>Habitat Protection <span id='habitat-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Create a monitoring and evaluation system, designate protected areas, identify critical habitats, and coordinate management of these areas.</td>
    <td><span id='habitat-high-cost'>5.6</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='habitat-high' value="habitat-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Designate protected areas, design eco-tourism strategies, monitoring of critical areas.</td>
    <td><span id="habitat-med-cost">3.4</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='habitat-med' value="habitat-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Provide ecosystem and wildlife assessments, select conservation targets.</td>
    <td><span id='habitat-low-cost'>1.8</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='habitat-low' value="habitat-low"></input>
    </td>
  </tr>
</table>
</div>
</div>
</div>
<div>
<h2 class='toggle-control'>Water Resources</h2>
<h3 class='toggle-control' id='water'>Integrated Water Resource Management <span id='water-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Design and implement nationwide water resource management plan (e.g. multi-objective decision support system, national policy reform, strengthen national regulatory bodies, economic pricing instruments, conflict resolution techniques and mechanisms).</td>
    <td><span id='water-high-cost'>20</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='water-high' value="water-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Design nationwide water resource management plan (e.g. multi-objective decision support system, management and intervention plan including planning and coordination, water allocation, discharge regulation, monitoring, enforcement and information dissemination).</td>
    <td><span id='water-med-cost'>10</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='water-med' value="water-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Water Resource Assessment: user requirements (demand) and water quantity (supply), risk and vulnerability assessment.</td>
    <td><span id='water-low-cost'>6.5</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='water-low' value="water-low"></input>
    </td>
  </tr>
</table>
</div>
</div>
</div><div>
<h2 class='toggle-control'>Environmental Institutions</h2>
<div>
<h3 class='toggle-control' id='capacity'>Capacity Building <span id='capacity-budget' /></h3>
<div class='toggle'>
<table class="interventions">
 
   <tr>
    <th>Intervention</th>
    <th>Cost (millions)</th>
    <th>Fund</th>
  </tr>
  <tr>
    
    <td>Capacity building in Environment Ministry, review existing environmental legal framework with recommendations for changes, build environmental information and monitoring system, training of environmental officials, increase staff of environmental and resource agencies.</td>
    <td><span id='capacity-high-cost'>6</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='capacity-high' value="capacity-high"></input>
    </td>
  </tr>
  <tr>
    
    <td>Design environmental information monitoring system, training and capacity building within environment and resource agencies.</td>
    <td><span id='capacity-med-cost'>3</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='capacity-med' value="capacity-med"></input>
    </td>
  </tr>
  <tr>
    
    <td>Training and capacity building of existing Environmental Ministry and related agencies staff and create national environmental resource management strategic plan.</td>
    <td><span id='capacity-low-cost'>1.7</span></td>
    <td>
      <input type="checkbox" name="fund" class="fund" id='capacity-low' value="capacity-low"></input>
    </td>
  </tr>
</table>
</div></div></div>

</div>
{% endblock %}