{% extends "game/game.html" %}

{% block game_js %}
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}In the rows next to each area of concern, describe the intervention of your choosing that corresponds to the best high, medium, and low cost options.{% endblock %}

{% block full-instructions %}
<p>Your group should discuss possible interventions for each of the areas of concern represented in the following chart.</p>

{% endblock %}

{% block form-instructions %}{% endblock %}

{% block form-inputs %}
<div class="intervention_choices">
<h2>Environmental Health and Basic Services</h2>
<h3>Water Supply:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>

<h3>Sanitation Access:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>

<h3>Waste Management:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>
<br />
<h2>Forestry</h2>

<h3>Illegal Timber:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>

<h3>Deforestation (Charcoal Production):</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>
<br />
<h2>Land Management</h2>

<h3>Land Tenure:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>

<h3>Nomadic Rights:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>


<h2>Agriculture</h2>

<h3>Agricultural Practices:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>

<h3>Desertification:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>


<h2>Wildlife and Biodiversity</h2>

<h3>Habitat Protection:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>



<h2>Water Resources</h2>

<h3>Integrated Water Resource Management:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>



<h2>Environmental Institutions</h2>

<h3>Capacity Building:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea></textarea></td>
  </tr>
</table>


</div>
{% endblock %}