{% extends "game/game.html" %}

{% block game_js %}
   <script type="text/javascript" src="{{GAME_MEDIA}}/js/saverestore.js"></script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Discuss and describe interventions.{% endblock %}

{% block full-instructions %}
<p>Your group should discuss possible interventions for each of the areas of concern represented in the following chart.  In the rows next to each area of concern, describe the intervention of your choosing that corresponds to the best high, medium, and low cost options.</p>

{% endblock %}

{% block form-instructions %}{% endblock %}

{% block form-inputs %}
<div class="intervention_choices">
<h2>Environmental Health and Basic Services</h2>
<h3>Water Supply:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='water-supply-high' id='water-supply-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='water-supply-med' id='water-supply-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='water-supply-low' id='water-supply-low'></textarea></td>
  </tr>
</table>

<h3>Sanitation Access:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='sanitation-high' id='sanitation-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='sanitation-med' id='sanitation-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='sanitation-low' id='sanitation-low'></textarea></td>
  </tr>
</table>

<h3>Waste Management:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='waste-high' id='waste-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='waste-med' id='waste-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='waste-low' id='waste-low'></textarea></td>
  </tr>
</table>
<br />
<h2>Forestry</h2>

<h3>Illegal Timber:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='timber-high' id='timber-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='timber-med' id='timber-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='timber-low' id='timber-low'></textarea></td>
  </tr>
</table>

<h3>Deforestation (Charcoal Production):</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='deforestation-high' id='deforestation-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='deforestation-med' id='deforestation-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='deforestation-low' id='deforestation-low'></textarea></td>
  </tr>
</table>
<br />
<h2>Land Management</h2>

<h3>Land Tenure:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='tenure-high' id='tenure-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='tenure-med' id='tenure-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='tenure-low' id='tenure-low'></textarea></td>
  </tr>
</table>

<h3>Nomadic Rights:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='nomadic-high' id='nomadic-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='nomadic-med' id='nomadic-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='nomadic-low' id='nomadic-low'></textarea></td>
  </tr>
</table>


<h2>Agriculture</h2>

<h3>Agricultural Practices:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='agricultural-high' id='agricultural-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='agricultural-med' id='agricultural-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='agricultural-low' id='agricultural-low'></textarea></td>
  </tr>
</table>

<h3>Desertification:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='desertification-high' id='desertification-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='desertification-med' id='desertification-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='desertification-low' id='desertification-low'></textarea></td>
  </tr>
</table>


<h2>Wildlife and Biodiversity</h2>

<h3>Habitat Protection:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='habitat-high' id='habitat-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='habitat-med' id='habitat-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='habitat-low' id='habitat-low'></textarea></td>
  </tr>
</table>



<h2>Water Resources</h2>

<h3>Integrated Water Resource Management:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='water-high' id='water-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='water-med' id='water-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='water-low' id='water-low'></textarea></td>
  </tr>
</table>



<h2>Environmental Institutions</h2>

<h3>Capacity Building:</h3>
<table class="interventions">
  <tr>
    <td>High Cost:</td>
    <td><textarea class="mceNoEditor" name='capacity-high' id='capacity-high'></textarea></td>
  </tr>
  <tr>
    <td>Medium Cost:</td>
    <td><textarea class="mceNoEditor" name='capacity-med' id='capacity-med'></textarea></td>
  </tr>
  <tr>
    <td>Low Cost:</td>
    <td><textarea class="mceNoEditor" name='capacity-low' id='capacity-low'></textarea></td>
  </tr>
</table>


</div>
{% endblock %}