{% extends "game/intro.html" %}

{% block instructions %}
<p>Please complete the chart below, focusing on the sector objectives. This should reflect the time frame and process of development or recovery based on the objectives for the sector of investment.</p>
<h5>Example:</h5>

<table class="wiki_table">
    <tr>
        <td>Project Intervention<br />

</td>
        <td>Baseline Description<br />
</td>
        <td>Short-Term Target<br />
</td>
        <td>Medium-Term Target<br />
</td>
        <td>Long-term Target<br />
</td>

        <td>Results/Outcomes<br />
</td>
    </tr>
    <tr>
        <td>Water System<br />
</td>
        <td>48% of Nimpala have access to clean and reliable water. leading health concern is related to water borne diseases.<br />
</td>
        <td>Increase access to clean water by 5% of population. This covers 3 major cities and initial rural areas program.<br />

</td>
        <td>Increase rural programs and ensure complete coverage in urban areas<br />
</td>
        <td>Integrate long-term water resource management/supplies with improved access to ensure long-term delivery of basic services<br />
</td>
        <td>100% coverage with long-term time horizon accounted for in water distribution and access. Reduce secondary impacts and provide reliable public services to all citizens.<br />
</td>
    </tr>
</table>
{% endblock %}