{% extends "game/game.html" %}

{% block game_js %}
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block short-instructions %}Complete the following chart to articulate the impacts of your projects.{% endblock %}

{% block full-instructions %}
<p>Now that you have selected your project allocations, please fill out the following chart to articulate the temporal impacts of these projects.</p>

<p>Please consider the implications of your funding decisions in relation to timeframe for implementation and expected results.</p> 

{% endblock %}

{% block form-instructions %}{% endblock %}

{% block form-inputs %}
<div class="intervention_choices">
<h2>Forestry</h2>
<h3>Illegal Timber</h3>
<table class="interventions">
 
   <tr>
    <th colspan=2>Major improvement in urban water infrastructure</th>
    
  </tr>
  <tr>
    
    <td>Baseline Description</td>
    <td><textarea class="mceNoEditor"></textarea></td>
    
  </tr>
  <tr>
    
    
    <td>Short-Term Target</td>
    <td><textarea class="mceNoEditor"></textarea></td>
    
  </tr>
  <tr>
    
    
    <td>Medium-Term Target</td>
    <td><textarea class="mceNoEditor"></textarea></td>
    
  </tr>
    <tr>
    
    
    <td>Long-Term Target</td>
    <td><textarea class="mceNoEditor"></textarea></td>
    
  </tr>
    <tr>
    
    
    <td>Results/Outcomes</td>
    <td><textarea class="mceNoEditor"></textarea></td>
    
  </tr>
</table>

</div>



{% endblock %}