{% extends "game/game.html" %}

{% block title %}week 1{% endblock %}

{% block game_js %}
  <script type="text/javascript" src="{{GAME_MEDIA}}js/sample.js"></script>
{% endblock %}
{% block game_css %}
  <!-- add css link here -->
{% endblock %}

{% block game_content %}
   <div>
    
   
   <div id="activity_title">
     Week 1 Activity (<div id="due_date">DUE: {{ game_context.duedate|date:"D M d Y" }}</div>)
   </div>
      
      
<div id="short_instructions">Write a draft proposal of a post-conflict needs assessment memo. Justify your recommendations using evidence from cases.</div>
<h3>Full Instructions:</h3>
<div id="full_instructions_body" class="toggle">
<p>After reading the background material, please write a draft proposal of a post-conflict needs assessment memo based on the information you have at your disposal. Be sure to include the following elements:</p>

<ol>
<li>Conflict and Needs Assessment (List, in order of risk, current threats to the country’s stability and challenges to its development.)</li>
<li>Recommended Policy Responses</li>
<li>Recommended Programming Options</li>
</ol>

<p>Please divide your policy and programming recommendations into two sections, distinguishing between recommendations for government of Nimpala and recommendations for the international donor community.</p>

<p>You may also want to distinguish between short-term “quick wins” versus longer-term responses. Please prioritize your recommendations with the understanding that the amount of aid to Nimpala has not yet been guaranteed or dispersed and available resources are quite limited.</p>

<p>Justify your recommendations using evidence from cases. Such cases can be drawn from your professional experiences and/or class readings.</p>

<p>These should be between 3 and 6 pages.</p>

<h5>Initial Questions:</h5><strong><ol>

 <li>What information will you need to perform a post-conflict needs assessment?</li>
 <li>How will you go about collecting that information? What challenges do you expect to encounter?</li>
 <li>What role has the environment and natural resources played in this conflict? To what extent should environmental needs be prioritized in the context of Nimpala’s political and economic challenges?</li>
 <li>Who are the “dividers” and “connectors” in the conflict? Are there any potential spoilers.</li>
 <li>Based on the initial background discussions, what specific studies or information would you need? From trade reports to climate change predictions to specific population movement?</li>
 <li>What limitations are there for collecting additional information? What strategy do you have for engaging the national government? What other partners would you approach (Universities, NGOs)</li>
</ol></strong>
</div>


<p>Write or paste your answer in the box below.</p>
     
     <form action="{%url save-assignment %}" method="POST">
     <textarea rows=17 cols=58 name="data"></textarea><br />
     <input type="submit" value="Submit" />
     <input type="reset" />
     <input type="button" value="Save Draft" />
     <input type="hidden" name="turn_id" value="{{ world_state.turn_id }}" /><!-- TODO -->
     </form>
   </div>
{% endblock %}
