{% extends "base.html" %}

{% block title %}Country Narrative{% endblock %}

{% block content %}

<div id="intro_container">
  <div id="due_date" class="interstitial">
     DUE: {{ world_state.duedate|date:"D M j Y f A" }}
   </div> <h1>Next Activity: {{game.gamename}}</h1>
  
  <div id="alertbox"><h2>Alert!</h2>  A cholera epidemic is affecting your population.</div>

   

 <div id="new_materials">
<h2>New Materials:</h2> 

<img source="" /><a href="#" target="blank">Updated Watching Brief</a>
</div>

 <div id="instructions">
<h2>Instructions:</h2>

Abigo mauris te mauris, gravis, dolus oppeto indoles caecus importunus nunc inhibeo aptent. Gemino autem distineo refoveo nonummy consequat occuro opes eros appellatio pala in mara validus consequat. 

Incassum in nulla duis olim brevitas, olim, ut. Dignissim exputo capto, iriure esse, aliquip pecus luptatum fatua eum ludus pneum oppeto blandit abluo. Ut, ullamcorper amet singularis, os capio comis aptent enim feugiat blandit, dignissim. Lenis delenit ad, eum, iriure nisl transverbero defui esca typicus dolore. Te, ut consectetuer pneum hendrerit vel, multo premo immitto. Nunc quidne, sit huic adipiscing gravis dolus esca neo quod iaceo mos vero jus feugait. Mos paratus hos jus, magna metuo, aptent saluto minim augue. 

</div>
 <div id="grouping">
<h2>Note:</h2>
This is a group activity. You and your team members will submit a single group response.
</div>
<br />
<button type="button" id="go_activity" value="go_activity"><a href="{%url assignment-page assn.data.id %}">Go to Activity</a></button>

</div>
{% endblock %}