{% extends "base.html" %}

{% block title %}Country Narrative{% endblock %}

{% block content %}
  <p>Quick Facts</p>
  
  <p>Climate: Arid desert in the East, tropical in the West<br />
  Population: 18 million (estimates as there has been no official census since 1983 and the beginning of the civil war)<br />
  Area: 230,000 sq km<br />
  Capital city: In the west along the main river and on the border<br />
  Infant mortality rate: 87 deaths/1,000 live births<br />
  National language: Arabic in the north and east and English in the west and south</p>

  <p>Age structure:<br />
  0-14 years: 41.1% (male 8,451,576/female 8,093,609)<br />
  15-64 years: 56.4% (male 11,407,233/female 11,275,685)<br />
  65 years and over: 2.5% (male 518,822/female 471,530)</p>
  
  <p>The Maqqara (40%) – Pastoral ethnic group (traditionally sheep, cattle, goat-herding), generally reside in the East and other urban centers. Most Maqqara practice Islam. The Maqqara have close ties to the pastoral minority in the south of Country B.<br />
  The Akola (30%) – Agricultural community that has historically resided in the West and central regions of the country. Akola were heavily influenced by Christian missionaries and most practice Christianity or a mixture of Christian-animist traditions. Akola land stretches into the Northern territories of Country D.<br />
  The Ragat (16%) – Pastoral ethnic group (traditionally camel-herding) residing in the East and North. Ties to the ethnic majority in Country B.<br />
  The Kou (8%) – Agricultural community that has historically resided in the East of the country. The Kou hold a variety of religious beliefs, with the majority practicing Islam. The remainder are animist. The Kou have strong ties to Country C where there is a Kou majority. The Kou are linked ethno-linguistically to the Akola, although due to their geographic location they have more recent cultural ties to the Maqqara and Ragat.<br />
  Other (6%) - There are more than 100 distinct ethnic groups in Nimpala.</p>

<p>Country B (North): A civil war has been going on in Country B for the past ten years. The Maqqara are a small ethnic minority in Country B, while the Ragat are an ethnic majority. The Ragat dominated government has been accused of war crimes and waging an ethnic cleansing campaign against the Maqqara. The ruling Ragat political party is considered extremist by the West and Western governments have listed Country B as a state sponsor of terrorism. In the most recent flare-ups in Nimpala's far Eastern districts, the Ragat have been fleeing to Country B and are allegedly being recruited into terrorist training camps.</p>

<p>Country C (East): Country C has a large Kou population and provided political asylum for current President Ndgogo during his exile.</p>

<p>Country D (South & West): Country D is a regional powerhouse with a dominant Akola majority. The government has been accused of arming the Akola Defense Force (ADF) during Nimpala’s civil war. The country has historically had a tense relationship with Nimpala due to competing claims to trade routes along the Nile.</p>
  
{% endblock %}