{% extends "base.html" %}

{% block title %}{{game.gamename}}{% endblock %}
{% block js %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

<form name="split_team" method="POST">
  Team:
  <select name="team_id">
    {% for team in course.team_set.all %}
       <option value="{{team.pk}}">{{team}}</option>
    {% endfor %}
  </select>

<br />
  Splitter from group (once you have split one person, you can use the admin section to move others over)
  <select name="splitter">
    {% for stud in course.students %}
       <option value="{{stud.username}}">{{stud.get_full_name|default:stud.username}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Split Group" />
</form>

{% endblock %}