{% extends "base.html" %}

{% block js %}
   <!-- Delegate to the particular game which extra JS it needs -->
   <script>
     var game_variables = {{game.variables|safe}};
   </script>
   {% block game_js %}{% endblock %}
{% endblock %}

{% block css %}
   <!-- Delegate to the particular game extra CSS it needs -->
   {% block game_css %}{% endblock %}
{% endblock %}

{% block breadcrumbs %}
    {%if game %}
      <li><a href="{% url game-page game.game %}"></a></li>
    {%endif%}  
{% endblock %}


{% block content %}
   <div id="game-content">
     <!-- Delegate HTML to the particular game -->
     {% block game_content %}{% endblock %}
   </div>
{% endblock %}